{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="todoDetail"></div>
<div>

    <p><strong>Name:</strong> {{todo.name}}</p>
    <p><strong>Description:</strong> {{todo.description}}</p>
    <p><strong>Complete:</strong> {{todo.complete}}</p>
    <p><strong>Completed At:</strong> {{todo.completed_at}}</p>
    <p><strong>Experience Points:</strong> {{todo.exp}}</p>


    <a href ="{% url 'todo:todo_List' %}">목록으로</a>
    
    <a  href ="{% url 'todo:todo_Update' pk=todo.id %}" class="todoUpdate">수정</a>
    <button class="todoDelete" onclick="deleteTodo({{todo.id}})">삭제</button>
</div>


<scrip>



</scrip>


{% endblock %}