{% load static %}
<div>
    <h1>Todo List</h1>
    <div>
        <a href="{% url 'todo:todo_List' %}">목록</a>
        
        {% if user.is_authenticated %}
           <form action="{% url 'todo:custom-logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
        {% else %}
            <a href="{% url 'rest_framework:login' %}?next={% url 'todo:todo_List' %}">로그인</a>
        {% endif %}

        
    </div>
</div>